<h1 class="page-title">Visualize - Editing Mode</h1>
<div class="navigation-options">
    <%= link_to 'Back', @visualization %>
</div>
<div class="viz-page">
<!--Form for visualization located in app/views/visualizations/_form.html.erb-->
   <%=render 'form', visualization: @visualization%>
</div>
  
