<h1 class="page-title">Visualize - Editing Mode</h1>
<div class="navigation-options">
    <%= link_to 'Back', @visualization %>
</div>
<div class="viz-page">
   <%=render 'form', visualization: @visualization%>
</div>
  
