<h1 class="page-title">Review</h1>
<div>
    <%= link_to "Make new visualization", new_visualization_path, class: "btn btn-primary" %>
</div>
<!--Add line-->
<p>See all your visualizations on this page! Click on a thumbnail to view or edit the corresponding chart.</p>

<div class="viz-thumbnail-group">
    <%@visualizations.each do |visualization|%>
    <%= render "thumbnail", locals: {visualization: visualization}%>
    <%end%>
</div>