/*----------------------------*-------------------------------------------------
 |  Grinnell Official Colors  |
 *----------------------------*/

/* Primary Colors */
$grin-red-prime: #DA291C;
$grin-black-prime: #000000;

/* Accent Colors */
$grin-orange-accent: #DB5A3C;
$grin-green-accent: #00B388;
$grin-purple-accent: #7566A0;
$grin-yellow-accent: #F0B323;
$grin-blue-accent: #236192;
$grin-maroon-accent: #76232F;
$grin-evergreen-accent: #004E42;
$grin-dk-purple-accent: #3F2A56;
$grin-brown-accent: #775135;
$grin-navy-accent: #002A3A;
$grin-gray-accent: #4D4D4F;

/* Tint Colors */
$grin-yellow-tint: #FBEED8;
$grin-blue-tint: #E1E7F2;
$grin-gray-tint: #E5E6E4;
