// Place all the styles related to the ValidEmails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
 
.emails {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
}
