// Place all the styles related to the visualizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.viz-form-section {
    margin-bottom: 50px;
}

.viz-form-group{
    margin-bottom: 12px;
}

.full-chart{
    width: 80vw;
    text-align: left;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10vh 0;
    margin-top: 4vh;
}
