// Place all the styles related to the visualizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "grin_colors.scss";

.viz-page{
   // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.viz-step{
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 1.5em;
    margin-top: 4px;
    text-decoration: underline;
}

.viz-form-section {
    padding: 8px 0px;
    margin-bottom: 8px;


    label{
       font-weight: 600; 
       color: rgba(0, 0, 0, 0.8)
    }

    ul{
        margin:0;
        padding: 0;
    }

    select{
        border-color: #212121;
        border-radius: 4px;
        height: 32px;
        padding: 4px 4px;
        box-sizing: border-box;
    }
}

.viz-form-group{
    margin-right: 8px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.viz-thumbnail-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.viz-thumbnail-wrapper{
    position: relative;
    width: 456px;
    height: 456px;
    margin-right: 32px;
    margin-bottom: 32px;
}

.viz-thumbnail{
    width: 440px;
    height: 440px;
    background-color: white;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    color: white;
    display: block;

    &:hover{
        width: 456px;
        height: 456px;
        transition: .2s;
        margin-top: -8px;
        margin-left: -8px;
    }
}

.viz-thumbnail-info{
    position: absolute;
    background-color:#C61F1F;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    width: 100%;
    bottom: 0;
    height: 100px;
    padding: 8px 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;



    .viz-thumbnail-title{
        font-weight: bold;
  }
}

.form-row{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    border: solid 1px #212121;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 24px 24px;
    box-sizing: border-box;
    //background-color: #F1D6D6;
    background-color: #E1E7F2;
}

.chart-details{
    margin-bottom: 16px;

    .viz-form-group{
        margin-bottom: 16px;
    }
}

.full-chart{
    display: flex;
    width: 70vw;
    text-align: left;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10vh 4vw;
    margin-top: 4vh;
    margin-bottom: 8vh;
}

.thumbnail-chart{
    display: block;
    width: auto;
    padding-top: 32px;
    margin-left: -36px;
}

.chart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-details.form-row{
    flex-direction: column;
}


.chart-variables{
    b{
        margin-bottom: 8px;
        display: block;
    }
}
