<div class="uploads-thumbnail">
   <%= link_to delete_class_year_uploads_path(:class_year => locals[:year_hash][:class_year]), method: :get, class: "uploads-thumbnail-trash" do%>
     <%= image_tag  "trash-2.svg" %>
    <%end%>       

    <div class="uploads-thumbnail-info">
        <h4>Class of <%= locals[:year_hash][:class_year] %></h4>
        <p>Last upload at <%= locals[:year_hash][:created_at] %></p>
    </div>

</div>