<h1 class="page-title">Upload</h1>
<p>1. Kindly choose a .csv file from your system to upload graduate outcomes data.</p>
<p>2. After you have uploaded the file, click import to store the file's data in the website.</p>

<div>
  <%= form_with url: uploads_import_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag "Import" %>
  <% end %>
</div>