<nav class="navbar-container">
    <ul>
        <%= link_to visualizations_path do %>
            <li class="nav-item"> 
                <%= image_tag  "navbar/bar-chart.svg" %> 
                <div class="nav-text">Visualize</div>
            </li>
        <%end%>
        
         <%= link_to uploads_path do %>
            <li class="nav-item"> 
                <%= image_tag  "navbar/upload.svg" %> 
                <div class="nav-text">Upload</div>
            </li>
        <%end%>

    </ul>
</nav>